.input-border {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.input-form {
    padding: 5px;
    width: 350px;
    border: black solid 1px;
    transition: 0.5s;
}

.input-form:hover {
    background-color: whitesmoke;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.search-button:hover {
    background-color: white;
    color: black;
}

.question-mark-border {
    display: flex;
    justify-content: center;
}

.search-border {
    margin-top: 25px;
    margin-left: 10px;
}