.header-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
    z-index: +1;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.header-title {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
}

.header-about {
    display: flex;
    justify-content: center;
    grid-column-start: 3;
    margin-top: 35px;
}